{% extends 'access/exercise_frame.html' %}
{% block exercise %}
{% if not result.error %}    
<form method="post" action="{{ post_url }}" data-grade="{% if LANGUAGE_CODE == "fi" %}Arvostele vastaukset{% else %}Grade the answers{% endif %}">
{% if request.POST.qlc %}
<p>{% if LANGUAGE_CODE == "fi" %}Avaa tehtävä oppimateriaalin luvussa nähdäksesi vastaukset.{% else %}Open the exercise in the chapter to view the answers.{% endif %}</p>
<script type="application/json" data-id="qlc-data">{% autoescape off %}{{ request.POST.qlc }}{% endautoescape %}</script>
{% else %}
<p>{% if LANGUAGE_CODE == "fi" %}Voit aloittaa tämän tehtävään sen jälkeen, kun ohjelmointitehtävä on läpäisty.{% else %}You can start this exercise after the programming exercise is successfully completed.{% endif %}</p>
<p><button class="qlc-generate">{% if LANGUAGE_CODE == "fi" %}Luo minulle kysely{% else %}Generate my questionnaire{% endif %}</button></p>
{% endif %}
</form>
{% endif %}
{% endblock %}
